<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDir">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${logDir}/hippodrome.log"
                     filePattern="${logDir}/hippodrome.%d{yyyy-MM-dd}.log">
            <!-- The pattern needed to be adjusted to exactly match the output required by the assignment -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{36}: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${logDir}" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Pattern also adjusted here -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{36}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>